body {
  background-color: salmon;
}

h1 {
  color: #fff;
  font-family: Arial, sans-serif;
}

#center {
  text-align: center;
}

#button {
  padding: 5px 10px;
  background-color: #fff;
  color: red;
  border: none;
}
